@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Nunito:ital,wght@0,300;1,300;1,400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url("../images/background.jpg");
    font-family: "Nunito", sans-serif;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

/* TITLE */
h1 {
    margin: 30px 0 30px 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 3em;
    color: rgb(18, 6, 185);
}

h2 {
  margin: 5px 0 30px 0;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2em;
  color: rgb(18, 6, 185);
}

#intro {
  padding-top: 30px;
}

#intro ul {
  padding: 1em;
  max-width: 50%;
}

#intro ul li {
  font-family: Merriweather, sans-serif;
  text-align: center;
  font-size: 22px;
}

/* MAIN BODY GAME AREA */
.game-area {
    width: 80%;
    height: fit-content;
    margin: auto;
    text-align: center;
    border-radius: 0.5em;
    border-style: double;
    border-width: 10px;
    border-color: rgb(84, 18, 172);
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 107, 51, 0.7);
}

#question {
    margin: 70px 5px 70px 5px;
    font-size: 2em;
    font-weight: 900;
    color: black;
    position: relative;
}

.btn {
    width: 45%;
    height: fit-content;
    font-family: inherit;
    text-transform: capitalize;
    letter-spacing: 1.2px;
    margin: 5px 10px;
    font-size: 1.4em;
    background-color: #76eede;
    border-radius: 35px;
    border-style: solid;
    border-width: 2px;
    border-color: #990303;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
    color: honeydew;
}

.btn:hover {
    outline: 3px solid #4d0000;
    background-color: #bfc935;
}

.btn:disabled {
    color: #000000;
}

/* Submit Answer Button */
.submit-btn {
    display: grid;
    padding: 10px 20px;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    font-size: 1.3em;
    background-color: #006487;
    border-radius: 35px;
    border-style: solid;
    border-width: 2px;
    border-color: #990303;
    cursor: pointer;
    font-weight: 900;
    color: honeydew;
}

.submit-btn:hover {
    outline: 3px solid #4d0000;
    background-color: #d9ff00;
}

/* Next Question Button */
.next-btn {
    display: grid;
    padding: 10px 20px;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    font-size: 1.3em;
    background-color: #006487;
    border-radius: 35px;
    border-style: solid;
    border-width: 2px;
    border-color: #990303;
    cursor: pointer;
    font-weight: 900;
}

.next-btn:hover {
    outline: 3px solid #4d0000;
    background-color: #00bbff;
}

/* Start Game Button */
.start-game {
    display: flex;
    justify-content: center;
    margin: 250px auto;
    font-size: 25px;
    font-weight: 600;
    border-width: 3px;
    border-color: #990303;
    cursor: pointer;
    top: 30px;
    padding: 10px 20px;
    text-align: center;
    background-color: #e2e9e2;
    border-radius: 35px;
    border-style: solid;
    color: rgb(45, 9, 204);
    position: relative;
}

.start-game:hover {
    outline: 3px solid #4d0000;
    background-color: #e6f756;
}

/* Question Counter */
.question-counter {
    margin: 10px 0 35px 0;
    padding-bottom: 10px;
    font-size: 1.4em;
    font-weight: 900;
    color: honeydew;
    position: relative;
}

.dead-space {
    height: 400px;
}

/*404 page*/
#error404 {
    color: whitesmoke;
}

.paragraph {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    color: antiquewhite;
}

#centerbu {
    text-align: center;
}

.homebu {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 14px 28px;
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    text-decoration: none;
    position: absolute;
}

.homebu :hover {
    background-color: rgb(49, 49, 49);
    color: rgb(0, 0, 0);
    border-radius: 8px;
}

/* RESULT BOX */
#result-box {
    font-size: 1.4em;
    font-weight: 900;
    margin: 70px 40px 70px 40px;
    background-color: rgba(255, 115, 34, 0.904);
    padding: 30px;
    border-radius: 35px;
    border-style: solid;
    border-color: rgb(0, 87, 87);
    border-width: 3px;
}

#person-message {
    margin-top: 30px;
}

#start-new-game-btn {
    display: grid;
    top: 30px;
    padding: 10px 20px;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    font-size: 1.3em;
    background-color: rgb(0, 214, 0);
    border-radius: 35px;
    border-style: solid;
    border-width: 2px;
    border-color: darkgreen;
    cursor: pointer;
}

/* up the screen dead space for devices from 780px of full height to larger devices and monitors */
@media screen and (min-height: 780px) {
    .dead-space {
        height: 650px;
    }
}

.hide {
    display: none;
}

/* Change screen size from larger to Medium size devices from 580px down" */
@media screen and (max-width: 580px) {
    header button {
        font-size: 1.1em;
    }

    #question {
        margin: 20px 5px 20px 5px;
        font-size: 1.3em;
    }

    .btn {
        height: fit-content;
        letter-spacing: 1.2px;
        width: 65%;
        font-size: 1.2em;
    }

    #start-new-game-btn {
        top: 30px;
        padding: 10px 20px;
        margin-top: 30px;
        font-size: 1.1em;
    }

    .next-btn {
        margin: 30px auto;
        padding: 10px 20px;
        font-size: 1.2em;
    }

    .submit-btn {
        margin: 30px auto;
        padding: 10px 20px;
        font-size: 1.2em;
    }

    .start-game {
        margin: 200px auto;
        font-size: 2.0em;
        font-weight: 700;
        padding: 10px;
    }

    .question-counter {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    #result-box {
        font-size: 1.2em;
    }

    #person-message {
        margin-top: 30px;
    }

    #start-new-game-btn {
        font-size: 1.2em;
    }

    /*404 page*/
    #error404 {
        font-size: 50px;
    }

    .paragraph {
        font-size: 40px;
    }
}

/* Change screen size from larger to Medium size devices from 460px down" */
@media screen and (max-width: 460px) {
    header button {
        font-size: 1.1em;
    }

    .hidden-instructions {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        font-size: 1.3em;
    }

    h1 {
        margin: 10px 5px 5px 5px;
        font-size: 3em;
    }

    #question {
        margin: 20px 5px 20px 5px;
        font-size: 1.2em;
    }

    .btn {
        margin: 3px;
        padding: 3px;
        width: 80%;
        letter-spacing: 1.2px;
        font-size: 1.0em;
        height: fit-content;
    }

    #start-new-game-btn {
        top: 30px;
        padding: 10px 20px;
        margin-top: 30px;
        font-size: 1.1em;
    }

    .next-btn {
        margin: 30px auto;
        padding: 10px 20px;
        font-size: 1.1em;
    }

    .submit-btn {
        margin: 30px auto;
        padding: 10px 20px;
        font-size: 1.1em;
    }

    .question-counter {
        font-size: 1.0em;
        margin-bottom: 20px;
    }

    #result-box {
        font-size: 1.1em;
    }

    #person-message {
        margin-top: 30px;
    }

    #start-new-game-btn {
        font-size: 1.0em;
    }

    .dead-space {
        height: 200px;
    }
}


/* Change screen size from larger to Medium size devices from 300px down" */
@media screen and (max-width: 300px) {
    header button {
        font-size: 1.1em;
    }

    h1 {
        margin: 10px 5px 5px 5px;
        font-size: 2.6em;
    }

    #question {
        font-size: 1.1em;
    }

    .btn {
        font-size: 0.9em;
    }

    #start-new-game-btn {
        font-size: 1.0em;
    }

    .next-btn {
        font-size: 1.0em;
    }

    .submit-btn {
        font-size: 1.0em;
    }

    .start-game {
        margin: 200px auto;
        padding: 10px 10px;
        font-size: 1.6em;
        font-weight: 700;
        width: 85%;
    }

    .question-counter {
        font-size: 1.0em;
        margin-bottom: 20px;
    }

    #result-box {
        font-size: 1.0em;
        width: unset;
        margin: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #start-new-game-btn {
        font-size: 1.0em;
    }
}